body{background-color: #ffffff}
header h2 {font-family: 'Chango','cursive';
font-size: 24px;
width: 900px
}

img.event3{
  background-size:contain;
height: 200px;
}

header.container{
  margin-top:auto;
}

footer{background-color: #87cefa;
  bottom:0px;
  height:30px;
    width:100%;
}
.btn-right{
  float:right;
  margin-top: 10px;
  margin-right: 5px;

}

.main-h1{
  margin-bottom:50px;
}
